html,
body {
    padding: 0px;
    margin: 0px;
}

#dropzone {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #fff;
    background: rgba(248, 6, 6, 0.533);
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s;
}

#dropzone.active {
    opacity: 1;
}

#legend {
    color: white;
    position: fixed;
    top:5px;
    left:10px;
    z-index: 111;
    background-color: black;
    padding: 10px 20px;
}
#legend a {color: aqua;}